.hidden {
    display: none;
    margin-top: 15px;
}
#Corpo{
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    width: 600px;
    border-radius: 20px;
    margin:auto;
    
}
.InputsN{
    width: 300px;
}
input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header {
    display: flex;
    border-radius: 20px;
    align-items: center;
    background-color: #005BAC;
    padding: 10px 20px;
    color: white;
    justify-content: space-between;
}
